
<div class="cocktail-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key %>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <a class="btn btn-primary mt-3" href="/cocktails/<%= @cocktail.id %>/reviews/new">Add a review</a>
    <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Please don't😭 I am very tasty.." } do  %>
      <i class="fas fa-trash-alt ml-3"></i>
    <% end %>
  </div>
</div>





<div class="container mt-3 d-flex justify-content-between">
    <div class="left">
      <h3 class="mb-3">Ingredients:</h3>
      <div>
        <% @cocktail.doses.each do |dose| %>
          <div class="d-flex">
            <p><%= dose.ingredient.name %></p>
            <p class="ml-3"><%= dose.description %></p>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt ml-3"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="right">
      <h3 class="mb-3">Reviews</h3>
      <% @cocktail.reviews.each do |review| %>
        <div class="d-flex">
          <%= review.content %>
          <ul class="list-inline ml-3">
            <% review.rating.times do %>
            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

</div>


<div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Add an ingredient</h2>
        <%= simple_form_for ([@cocktail,@dose]) do |f| %>
          <%= f.input :ingredient_id, collection: Ingredient.all, input_html: { class: 'select2' }, include_hidden: false %>
          <%= f.input :description %>
          <%= f.submit "Add the ingrediant", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
